<div class="max-w-md mx-auto p-6 bg-white shadow-md rounded-md">
  <form>
    <div class="mb-4">
      <label for="title" class="block text-sm font-medium text-gray-700 mb-1">Title:</label>
      <input type="text" id="title" name="title" required
             class="w-full py-2 px-3 rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
    </div>

    <div class="mb-4">
      <label for="description" class="block text-sm font-medium text-gray-700 mb-1">Description:</label>
      <input type="text" id="description" required
             class="w-full py-2 px-3 rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
    </div>

    <div class="mb-4">
      <label for="userName" class="block text-sm font-medium text-gray-700 mb-1">User Name:</label>
      <input type="text" id="userName"
             class="w-full py-2 px-3 rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
    </div>

    <div class="mb-4">
      <label for="email" class="block text-sm font-medium text-gray-700 mb-1">Email:</label>
      <input type="email" id="email"
             class="w-full py-2 px-3 rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
    </div>

    <div class="mb-4">
      <label for="phoneNumber" class="block text-sm font-medium text-gray-700 mb-1">Phone Number:</label>
      <input type="text" id="phoneNumber"
             class="w-full py-2 px-3 rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
    </div>

    <!-- <div class="mb-4">
      <label for="role" class="block text-sm font-medium text-gray-700 mb-1">Role:</label>
      <input type="text" id="role"
             class="w-full py-2 px-3 rounded-md border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
    </div> -->

    <div *ngFor="let equipmentd of demands; let i = index;">
      <label for="equipmentId{{i}}">Equipment ID:</label>
      <input type="text" id="equipmentId{{i}}" [(ngModel)]="equipmentd.equipmentId" required>
  
      <label for="startDate{{i}}">Start Date:</label>
      <input type="text" id="startDate{{i}}" [(ngModel)]="equipmentd.startDate" required>
  
      <label for="endDate{{i}}">End Date:</label>
      <input type="text" id="endDate{{i}}" [(ngModel)]="equipmentd.endDate" required>
  
      <button type="button" (click)="removeEquipmentDemand(equipmentd)">Remove</button>
      <button type="button" (click)="addEquipmentDemand(equipmentd)">Add Equipment</button>
    </div>
    <button type="submit" class="py-2 px-4 bg-indigo-500 text-white rounded-md hover:bg-indigo-600">Create Demand</button>
  </form>
</div>
